<% include_author       = true if local_assigns[:include_author].nil?
   this_belongs_to_self = user_signed_in? && idea.belongs_to_user?(current_user)
   self_voted_for_this  = user_signed_in? && current_user.voted_for?(idea) %>

<div class="idea-badge <%= 'idea-belongs-to-self' if this_belongs_to_self %>">
  <div class="idea-votes pull-left <%= 'user-has-voted' if self_voted_for_this %>">
    <div class="js-idea-votes-count" data-idea-id="<%= idea.id %>"><%= idea.total_votes %></div>
    <% unless this_belongs_to_self %>
      <div class="idea-vote-control">

      </div>
    <% end %>
  </div>
  <div class="idea-details">
    <h4 class="idea-title"><%= link_to idea.title, idea %></h4>
    <div class="idea-meta">
      <ul class="list-inline">
        <li class="idea-share-date">
          Shared 
            <% if include_author %>
              by <%= link_to idea.user.name, idea.user %>,
            <% end %>

            <%= distance_of_time_in_words_to_now(idea.created_at) %> ago
        </li>
      </ul>
    </div>
  </div>
</div>