<% content_for :page_title, "Share a new Idea" %>

<h1>Share a new Idea:</h1>

<%= simple_form_for(@idea) do |f| %>
  <div class="form-inputs">
    <div class="well">
      <%= f.input :title, label: "Title of your idea", input_html: { class: "input-lg" } %>
    </div>

    <%= f.input :body,  label: "Description of your idea", required: true,
                input_html: { rows: 6 } %>

    <small>
      <%= link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %>
      is accepted!
    </small>
  </div>

  <div class="form-actions">
    <%= f.submit "Share this idea!", class: "btn btn-primary" %>
  </div>
<% end %>