<% content_for :page_title, "#{@idea.title} by #{@idea.user.name}" %>

<div class="idea">
  <header class="idea-header">
    <%= render @idea %>

    <div class="row idea-vote-details">
      <div class="col-sm-3">
        <%# Todo: Move this elsewhere, it's too messy %>
        <div class="idea-vote-callout">
          <% if user_signed_in? %>
            <% if @idea.user != current_user %>
              <%= link_to vote_idea_path(@idea), method: :put, remote: true,
                  class: "btn btn-primary js-vote-callout",
                  # Disable the vote button if the user already voted:
                  disabled: current_user.voted_for?(@idea) do %>
                  <i class="icon-thumbs-up-alt"></i> Like this idea
              <% end %>
            <% else %>
              <span class="text-muted">You can't vote for your own ideas.</span>
            <% end %>
          <% else %>
            <%= link_to "Sign In to vote for this idea.", new_user_session_path %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="idea-likes">
          <% if @idea.voters.any? %>
            <%= render partial: "users/tiny_badge", collection: @idea.voters, as: :user %>
          <% else %>
            <span class="text-muted">This idea hasn't received any votes yet!</span>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <div class="row">

    <%# Idea body/markdown content: %>
    <div class="col-md-8">
      <div class="idea-document">
        <% unless @idea.body.empty? %>
          <%= sanitize UnsafeMarkdownPresenter.to_html(@idea.body) %>
        <% else %>
          <em>No description given :(</em>
        <% end %>
      </div>
    </div>

    <%# Sidebar %>
    <div class="col-md-4">

      <div class="idea-actions">
        <% unless @idea.belongs_to_user?(current_user) %>
          <section>
            <h4 class="section-title">Let's try something else...</h4>
            <p class="callout-paragraph">
              Do you want to take this idea in a different direction? Don't like where
              it is going? Copy it to your account and modify it to your liking!
            </p>

            <div class="well text-center">
              <%= link_to "#", class: "btn btn-primary btn-lg" do %>
                <i class="icon-code-fork"></i> Fork this Idea!
              <% end %>
            </div>
          </section>
        <% end %>

        <section>
          <h4 class="section-title">Share</h4>       
          <ul class="idea-social-actions list-inline">
            <%= link_to_share_to_twitter "#{@idea.title} by #{@idea.user.name} @ whatdo: #{idea_url(@idea)}",
                class: "social-badge twitter-social-badge", title: "Tweet this idea" do %>
              <i class="icon-twitter icon-large"></i>
            <% end %>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>