<% content_for :page_title, "#{@idea.title} by #{@idea.user.name}" %>

<div class="idea-badge">
  <h2><%= @idea.title %></h2>
  <p>
    <small>An idea by <strong><%= link_to @idea.user.name, user_path(@idea.user) %></strong></small>
  </p>
</div>
<div class="idea-body document">
  <% unless @idea.body.empty? %>
    <%= UnsafeMarkdownPresenter.to_html(@idea.body).html_safe %>
  <% else %>
    <em>No description given :(</em>
  <% end %>
</div>
<div class="idea-likes">
  <p>
    This idea has received <span class="badge badge-info js-vote-count"><%= @idea.votes.size %></span> votes.

    <% if user_signed_in? %>
      <% unless @idea.user == current_user %>
        <% if current_user.voted_for?(@idea) %>
          <strong>You already voted for this idea, cheers!</strong>
        <% else %>
          <%= link_to "Vote for this idea!", vote_idea_path(@idea), 
              method: :put, remote: true, class: "btn btn-primary js-vote-callout" %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "Sign In to vote for this idea.", new_user_session_path %>
    <% end %>
  </p>
  
  <% if @idea.voters.any? %>
    <div class="voters well">
      <%= render partial: "users/tiny_badge", collection: @idea.voters, as: :user %>
    </div>
  <% end %>
</div>