<% content_for :page_title, "#{@idea.title} by #{@idea.user.name}" %>

<div class="idea">
  <header class="idea-header">
    <%= render @idea %>
  </header>

  <div class="row">

    <%# Idea body/markdown content: %>
    <div class="col-md-8">
      <div class="idea-document">
        <% unless @idea.body.empty? %>
          <%= sanitize UnsafeMarkdownPresenter.to_html(@idea.body) %>
        <% else %>
          <em>No description given :(</em>
        <% end %>
      </div>
    </div>

    <%# Sidebar %>
    <div class="col-md-4">

      <div class="idea-actions">
        <h4 class="section-title">Share</h4>       
        <ul class="idea-social-actions list-inline">
          <%= link_to_share_to_twitter "#{@idea.title} by #{@idea.user.name} @ whatdo: #{idea_url(@idea)}",
              class: "social-badge twitter-social-badge", title: "Tweet this idea" do %>
            <i class="icon-twitter icon-large"></i>
          <% end %>
        </ul>
      </div>

      <div class="idea-likes">
        <p>
          <% if user_signed_in? %>
            <% unless @idea.user == current_user %>
              <% if current_user.voted_for?(@idea) %>
                <strong>You already voted for this idea, cheers!</strong>
              <% else %>
                <%= link_to "Vote for this idea!", vote_idea_path(@idea), 
                    method: :put, remote: true, class: "btn btn-primary js-vote-callout" %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Sign In to vote for this idea.", new_user_session_path %>
          <% end %>
        </p>
        
        <% if @idea.voters.any? %>
          <div class="voters well">
            <%= render partial: "users/tiny_badge", collection: @idea.voters, as: :user %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>