<% content_for :page_title, @user.name %>

<div class="user-badge">
  <%= gravatar_for @user.email, size: 160, class: "img-circle" %> 
  <h2>
    <%= @user.name %>

    <% if is_current_user?(@user) %>
      <small class="badge">this is you!</small>
    <% end %>
  </h2>
</div>

<div class="user-ideas-intro">
  <% if is_current_user?(@user) %>
    <% unless @user.ideas.any? %>
      <p>
        You haven't shared any ideas yet! <strong><%= link_to "Get Started!", "#" %></strong>
      </p>
    <% else %>
      <p>
        You have shared <strong><%= pluralize(@user.ideas.size, "idea") %></strong>
      </p>
    <% end %>
  <% else %>
    <p>This user has shared <strong><%= pluralize(@user.ideas.size, "idea") %></strong></p>
  <% end %>
</div>

<ul class="ideas list-unstyled">
  <%= render @user.ideas, include_author: false %>
</ul>