<% content_for :page_title, @user.name %>

<div class="row">

  <div class="col-sm-3">
    <div class="user-badge text-center">
      <div class="user-avatar">
        <%= link_to @user do %>
          <%= gravatar_for @user, size: 160, class: "img-circle" %> 
        <% end %>
      </div>
      <h2 class="user-name">
        <%= @user.name %>
      </h2>

      <div class="user-meta">
        Member since <%= @user.created_at.to_s(:month_year) %>

        <% if is_current_user?(@user) %>
          <div class="user-actions">
            <ul class="list-inline">
              <li>
                <%= link_to edit_registration_path(current_user), class: "btn btn-xs btn-muted" do %>
                  <i class="icon-code-fork"></i> Edit Profile
              <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <% if @ideas.any? %>
      <div class="user-ideas">
        <%= render @ideas, include_author: false %>

        <div class="user-ideas-callout">
          <p>
            <small><%= link_to "View all ideas shared by #{@user.name}", ideas_path(by_user: @user.id) %></small>
          </p>
        </div>
      </div>
    <% else %>
      <small>This user hasn't shared any ideas.</small>
    <% end %>
  </div>
</div>