<% content_for :page_title, @user.name %>

<div class="row">

  <div class="col-sm-3">
    <div class="user-badge">
      <div class="user-avatar">
        <%= link_to @user do %>
          <%= gravatar_for @user, size: 160, class: "img-circle" %> 
        <% end %>
      </div>
      <h2 class="user-name hero">
        <%= @user.name %>
      </h2>

      <div class="user-meta">
        Member since <%= @user.created_at.to_s(:month_year) %>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <% if @ideas.any? %>
      <div class="user-ideas">
        <%= render @ideas, include_author: false %>

        <div class="user-ideas-callout">
          <p>
            <small><%= link_to "View all ideas shared by #{@user.name}", "#" %></small>
          </p>
        </div>
      </div>
    <% else %>
      <small>This user hasn't shared any ideas.</small>
    <% end %>
  </div>
</div>