<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="<%= root_path %>" class="navbar-brand">whatdo</a>
    </div>

    <ul class="nav navbar-nav">
      <li><%= link_to "Share an idea", new_idea_path %></li>
      <li><%= link_to "Browse Ideas", browse_path %></li>
    </ul>
    
    <div class="navbar-user-tools pull-right">
      <p class="navbar-text">
        <% if user_signed_in? %>
          Hi there, <a href="<%= user_path(current_user) %>" class="user-name"><%= current_user.name %></a> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %> |
          New user? <%= link_to "Sign Up!", new_user_registration_path %>
        <% end %>
      </p>
    </div>
  </div>
</nav>