<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <title><%= yield(:page_title) %> | whatdo</title>

    <link rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic">
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body class="application">
    <%= render "shared/navbar" %>
    
    <% if content_for?(:dont_wrap_content) %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
    
  </body>
</html>